/* Your styles should be mobile-first and responsive */

/**
*
* If you are unclear on how to utilize mobile-first, responsive technique to write CSS, here's an ex.:
*
* https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css
*
*/

body {
    background-image: url("../images/question.jpeg");
    background-position: left;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: black;
    background-size: contain;
}


h1 {
    text-align: center;
    color: rgb(0, 95, 40);
    font-family: 'Mansalva', cursive;
}

.over{
    overflow: hidden;
}

.questions {
    color: whitesmoke;
    border: 3px solid whitesmoke;
    border-radius: 3px;
    padding: 15px 30px 15px 30px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
    width: 50%;
    text-decoration: none;
    font-size: 28px;
    text-align: center;
    text-shadow: 3px 5px 5px rgb(133, 133, 133);
    outline: 2px;
    outline-color: black;
}

.begin {
    color:rgb(0, 95, 40);
    border: 3px solid whitesmoke;
    background-color: black;
    border-radius: 3px;
    padding: 15px 30px;
    margin-right: auto;
    margin-left: auto;
    text-decoration: none;
    font-size: 28px;
    display: flex;
}

.boxed {
    border-radius: 30px;
    margin-bottom: 30px;
    background-image: radial-gradient(whitesmoke black);
}

#submit {
    color: red;
    border: 3px solid whitesmoke;
    background-color: black;
    border-radius: 3px;
    padding: 15px 30px;
    margin-right: auto;
    margin-left: auto;
    text-decoration: none;
    font-size: 28px;
    display: flex;
}

#next {
    color: red;
    border: 3px solid whitesmoke;
    background-color: black;
    border-radius: 3px;
    padding: 15px 30px;
    margin-right: auto;
    margin-left: auto;
    text-decoration: none;
    font-size: 28px;
    display: flex;
}

.fontSize {
    font-size: 15px;
}


@media all and(max-width: 600px) {
    h1 {
        font-size: 18px;
    }

    form {
        width: 75%;
    }
}