/* Your styles should be mobile-first and responsive */

/**
*
* If you are unclear on how to utilize mobile-first, responsive technique to write CSS, her's an ex.:
*
* https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css
*
*/

h1 {
    text-align: center;
}

.questions {
    color: whitesmoke;
    border: 3px solid whitesmoke;
    background-color: black;
    border-radius: 3px;
    padding: 15px 30px;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 25px;
    text-decoration: none;
    font-size: 28px;
    text-align: center;
}

.begin {
    color: whitesmoke;
    border: 3px solid whitesmoke;
    background-color: black;
    border-radius: 3px;
    padding: 15px 30px;
    margin-right: auto;
    margin-left: auto;
    text-decoration: none;
    font-size: 28px;
    display: flex;
}

#submit {
    color: red;
    border: 3px solid whitesmoke;
    background-color: black;
    border-radius: 3px;
    padding: 15px 30px;
    margin-right: auto;
    margin-left: auto;
    text-decoration: none;
    font-size: 28px;
    display: flex;
}